name: Build ARMisses APK

on:
  push:
    branches: [ "main" ] # สั่ง Build ทุกครั้งที่ push ขึ้น main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v4
        with:
          channel: 'stable'
      
      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: armisses-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
